* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html::-webkit-scrollbar {
    width: 1vw;
    background-color: #343F4F;
}

html::-webkit-scrollbar-thumb {
    background-color: #2c2c2c;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

@keyframes opening {
    90% {
        z-index: 1;
        opacity: 1;
    }
    100% {
        z-index: 0;
        opacity: 0;
        display: none;
    }
}

.opening-image {
    position: fixed;
    background-color: #FFF;
    width: 100%;
    height: 100%;
    z-index: 1;
    animation: opening 2.5s ease-in forwards;
}

@keyframes rotateLogo {
    0%{
        transform: rotateY(0);
    }
    50%{
        transform: rotateY(0);
    }
    100%{
        transform: rotateY(360deg);
    }
}

.opening-image img {
    animation: rotateLogo 2s ease ;
    position: fixed;
    top: 40%;
    left: 50%;
    translate: -50%;
    width: 150px;
    height: 105px;
}

@keyframes openingApp {
    0% {
        opacity: 0;
        width: 0px;
    }
    90% {
        opacity: 0;
        width: 0;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}

.rocketshoes {
    width: 100%;
    height: 100%;
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    position: relative;
    display: block;
    animation: openingApp 3s ease forwards;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: #242526;
    width: 100%;
    max-width: 900px;
    padding: 10px;
    z-index: 1;
}

header nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 10px 10px 0px;
    background-color: #2c2c2c;
    color: #FFF;
}

@keyframes sidebarOpen {
    0% {
        width: 0px;
    }

    95% {
        width: 35%;
    }
    
    100% {
        width: 100%;
        z-index: 1;
        opacity: 1;
    }
}

header nav.open {
    animation: sidebarOpen .7s forwards;
    max-width: 35%;
}

@keyframes sidebarClose {
    0% {
        width: 30%;
        z-index: 1;
        opacity: 1;
    }
    85% {
        width: 0px;
        opacity: 0;
        z-index: 0;
        display: none;
    }
    100% {
        width: 0px;
        opacity: 0;
        z-index: 0;
        display: none;
        transform: translate(-30px);
    }
}

header nav.close {
    animation: sidebarClose .7s forwards;
}

nav .sidebar {
    position: relative;
    width: 100%;
    height: 100%;
}

.sidebar > img {
    width: 30px;
    height: 25px;
    position: absolute;
    top: -20px;
    left: 20px;
    transform: translate(-20px);
}

.sidebar .user-info {
    position: absolute;
    bottom: 31px;
    left: -9px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 7px;
    padding-top: 10px;
    padding: 10px 7px;
    width: calc(100% + 18px);
    border-top: 1px solid #8257E5;
}

.sidebar .user-info img {
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.user-info img:last-child {
    width: 25px;
    height: 25px;
    fill: white;
    position: absolute;
    right: 10px;
    cursor: pointer;
    transition: all .3s ease;
}

.user-info img:last-child:hover {
    transform: rotate(359deg);
}

.sidebar > i {
    position: absolute;
    top: -20px;
    right: 10px;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 20px;
    list-style: none;
}

.sidebar ul li:nth-child(1) {
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 8px;
    margin: 20px 0px;
    background-color: #FFF;
    color: #2c2c2c;
    cursor: text;
}

.sidebar ul li:nth-child(1):hover {
    background-color: #FFF;
}

.sidebar ul li:nth-child(1).selected {
    background-color: #FFF;
}

.sidebar ul li:nth-child(1) input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 14px;
    border-radius: 6px;
}

.sidebar ul li {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    padding-left: 15px; 
    border-radius: 6px;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    border-bottom: 1px solid #242526;
    cursor: pointer;
    transition: all .3s ease;
}

.sidebar ul li:hover {
    background-color: #242526;
}

.sidebar ul li.selected {
    background-color: #8257E5;
    color: #FFF;
}

i {
    cursor: pointer;
    color: #8257E5;
    font-size: 1.4rem;
}

header h1 {
    cursor: pointer;
    color: #8257E5;
    font-size: 24px;
    font-weight: 700;
}

main {
    display: flex;
    flex-direction: column;
    padding: 45px 35px 0px;
    min-height: 100%;
    background-color: #343F4F;
}

main h2 {
    font-size: 2rem;
    text-align: center;
    color: #8257E5;
    margin-top: 20px;
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
}

main .wrapper {
    margin-top: 20px;
    max-width: 1200px;
    position: relative;
}

.wrapper > i {
    top: 50%;
    height: 45px;
    width: 45px;
    font-size: 1.2rem;
    position: absolute;
    text-align: center;
    line-height: 46px;
    background-color: #FFF;
    border-radius: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.wrapper > i:first-child {
    left: -23px;
    display: none;
}

.wrapper > i:last-child {
    right: -23px;
}

main .wrapper .carousel {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging img {
    pointer-events: none;
}

.carousel img {
    height: 340px;
    object-fit: cover;
    margin-left: 14px;
    width: calc(100% / 3);
    transition: transform 1s ease;
}

.carousel img:hover {
    transform: scale(1.1);
}

.carousel img:first-child {
    margin-left: 0px;
}

main .products {
    margin-top: 50px;
    border-top: 2px solid #242526;
}

@media screen and (max-width: 900px) {
    .carousel img {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 550px) {
    @keyframes sidebarOpen {
        0% {
            width: 0px;
        }
        
        100% {
            width: 100%;
            z-index: 1;
            opacity: 1;
        }
    }
    
    header nav.open {
        max-width: 100%;
    }
    
    @keyframes sidebarClose {
        0% {
            width: 100%;
            z-index: 1;
            opacity: 1;
        }
        
        100% {
            width: 0px;
            opacity: 0;
            z-index: 0;
            display: none;
            transform: translate(-30px);
        }
    }

    .carousel img {
        width: calc(100%);
    }
}