* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html::-webkit-scrollbar {
    width: 7px;
    background-color: #272727;
}

html::-webkit-scrollbar-thumb {
    background-color: gray;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

@keyframes opening {
    90% {
        z-index: 1;
        opacity: 1;
    }
    100% {
        z-index: 0;
        opacity: 0;
        display: none;
    }
}

.opening-image {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    width: 100%;
    height: 100%;
    z-index: 1;
    animation: opening 2.5s ease-in forwards;
}

@keyframes rotateLogo {
    0%{
        transform: rotateY(0);
    }
    50%{
        transform: rotateY(0);
    }
    100%{
        transform: rotateY(360deg);
    }
}

.opening-image img {
    animation: rotateLogo 2s ease ;
    width: 150px;
    height: 105px;
}

@keyframes openingApp {
    0% {
        opacity: 0;
        width: 0px;
    }
    90% {
        opacity: 0;
        width: 0;
    }
    100% {
        opacity: 1;
        width: 100%;
    }
}

.rocketshoes {
    width: 100%;
    min-height: 100%;
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    position: relative;
    display: block;
    overflow: hidden;
    animation: openingApp 3s ease forwards;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: #242526;
    width: 100%;
    max-width: 900px;
    padding: 10px;
    z-index: 10;
}

header nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 10px 10px 0px;
    background-color: #2c2c2c;
    color: #FFF;
    z-index: 0;
}

@keyframes sidebarOpen {
    0% {
        width: 0px;
    }

    95% {
        width: 35%;
    }
    
    100% {
        width: 100%;
        z-index: 2;
        opacity: 1;
    }
}

header nav.open {
    animation: sidebarOpen .7s forwards;
    max-width: 35%;
}

@keyframes sidebarClose {
    0% {
        width: 30%;
        z-index: 1;
        opacity: 1;
    }
    85% {
        width: 0px;
        opacity: 0;
        z-index: 0;
        transform: translate(0);
    }
    100% {
        width: 0px;
        opacity: 0;
        z-index: 0;
        overflow: hidden;
        transform: translate(-40px);
    }
}

header nav.close {
    animation: sidebarClose .7s forwards;
}

nav .sidebar {
    position: relative;
    width: 100%;
    height: 100%;
}

.sidebar > img {
    width: 35px;
    height: 30px;
    position: absolute;
    top: -48px;
    left: 25px;
    transform: translate(-20px);
}

.sidebar > i {
    position: absolute;
    top: -40px;
    right: 10px;
}

.sidebar .search-categories {
    background-color: #FFF;
    cursor: text;
    margin: 50px 0px 20px;
    width: 100%;
    height: 50px;
    border-radius: 6px;
    position: relative;
}

.sidebar .search-categories i {
    position: absolute;
    top: 30%;
    font-size: 1.2rem;
    color: #1F1F1F;
    pointer-events: none;
}

.sidebar .search-categories input {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 1rem;
    border-radius: 6px;
    padding-left: 30px;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 20px;
    list-style: none;
    height: 70%;
    max-height: 700px;
    overflow-y: scroll;
}

.sidebar ul::-webkit-scrollbar {
    width: 5px;
    background-color: #2c2c2c;
}

.sidebar ul::-webkit-scrollbar-thumb {
    background-color: gray;
}

.sidebar ul::-webkit-scrollbar-thumb:active {
    background-color: #8257E5;
}

.sidebar ul li {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 60px;
    padding-left: 15px; 
    border-radius: 6px;
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 700;
    border-bottom: 1px solid #242526;
    cursor: pointer;
    transition: all .3s ease;
}

.sidebar ul li:hover {
    background-color: #242526;
}

.sidebar ul li.selected {
    background-color: #8257E5;
    color: #FFF;
}

.sidebar .user-info {
    position: absolute;
    bottom: 31px;
    left: -9px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    padding: 10px 7px;
    width: calc(100% + 18px);
    border-top: 1px solid #8257E5;
}

.sidebar .user-info img {
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.user-info i {
    position: absolute;
    right: 10px;
}

i {
    cursor: pointer;
    color: #8257E5;
    font-size: 1.4rem;
    margin: auto 5px;
}

header h1 {
    cursor: pointer;
    color: #8257E5;
    font-size: 24px;
    font-weight: 700;
}

main {
    display: flex;
    flex-direction: column;
    padding: 45px 5px;
    min-height: 100%;
    background-color: #272727;
}

main h2 {
    font-size: 2rem;
    text-align: center;
    color: #8257E5;
    margin-top: 20px;
    text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
}

main .wrapper {
    margin: 20px 20px 0px;
    max-width: 1200px;
    position: relative;
}

.wrapper > i {
    top: 50%;
    height: 45px;
    width: 45px;
    font-size: 1.2rem;
    position: absolute;
    text-align: center;
    line-height: 46px;
    background-color: #FFF;
    border-radius: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.wrapper > i:first-child {
    left: -23px;
    display: none;
}

.wrapper > i:last-child {
    right: -23px;
}

.wrapper .carousel {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.carousel.dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging img {
    pointer-events: none;
}

.carousel img {
    height: 340px;
    object-fit: cover;
    margin-left: 14px;
    width: calc(100% / 3);
    transition: transform 1s ease;
}

.carousel img:hover {
    transform: scale(1.04);
}

.carousel img:first-child {
    margin-left: 0px;
}

main .products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 5px 10px;
    text-align: center; 
    padding: 10px 0px;
}

.products .card {
    background-color: #1F1F1F;
    color: gray;
    width: 210px;
    height: 385px;
    border-radius: 0px 0px 6px 6px;
    transition: all .3s ease;
}

.products .card:hover {
    transform: scale(1.03);
}

.card .image {
    width: 100%;
    height: 65%;
    cursor: pointer;
}

.card .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .3s ease;
}

.card .image img:hover {
    opacity: .7;
}

.card .name-price {
    display: flex;
    flex-direction: column;
    padding-bottom: 3px;
    height: 20%;
    margin-bottom: 6px;
}

.card .name-price h3 {
    font-size: 1rem;
    font-weight: 700;
    margin: 7px 20px;
    align-self: center;
}

.card .name-price .price {
    font-size: 14px;
    font-weight: 400;
    text-decoration: line-through;
    margin: 0 5px 0 -10px;
}

.card .name-price .promo-price {
    font-size: 1rem;
}

.card .buy-more {
    display: flex;
    gap: 1px;
    width: 100%;
    height: 14%;
    padding-bottom: 3px;
    border-radius: 0px 0px 6px 6px;
}

.card .buy-more .buy-button {
    width: 50%;
    height: 100%;
    font-size: 18px;
    border: none;
    border-radius: 0px 0px 0px 6px;
    background-color: #242526;
    color: #8257E5;
    cursor: pointer;
    transition: all .3s ease;
}

.card .buy-more .buy-button:hover {
    background-color: #8257E5;
    color: #FFF;
}

.card .buy-more .buy-button:active {
    color: #000;
}

.card .buy-more .add-cart-button {
    width: 50%;
    height: 100%;
    font-size: 16px;
    border: none;
    border-radius: 0px 0px 6px 0px;
    background-color: #242526;
    color: gray;
    cursor: pointer;
    transition: all .3s ease;
}

.card .buy-more .add-cart-button:hover {
    background-color: #8257E5;
    color: #FFF;
}

.card .buy-more .add-cart-button:active {
    color: #000;
}

.card .buy-more .see-more i {
    color: gray;
}

main .categorie-products {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.categorie-products .categorie-title {
    padding: 10px;
    width: max-content;
}

.categorie-products .search-product {
    display: flex;
    align-self: flex-end;
    align-items: center;
    background-color: #FFF;
    min-width: 200px;
    width: 25%;
    height: 30px;
    margin-right: 20px;
    border-radius: 6px;
    position: relative;
}

.categorie-products .search-product i {
    position: absolute;
    top: 15%;
    font-size: 1.2rem;
    color: #1F1F1F;
    pointer-events: none;
}

.categorie-products .search-product input {
    width: 100%;
    height: 100%;
    padding-left: 30px;
    font-size: 1rem;
    color: #1F1F1F;
    border-radius: 6px;
    border: none;
}

.cart-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 48px;
    padding: 0 5px;
    height: 100vh;
    width: 100%;
    max-width: 900px;
    z-index: 2;
    transform: translateX(200%);
    transition: all 1s ease;
    background-color: #272727;
}

.cart-content.show-cart {
    transform: translateX(0);
}

.cart-content h2 {
    color: #8257E5;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.cart-content .cart-box {
    max-width: 500px;
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.cart-box::-webkit-scrollbar {
    width: 5px;
    background-color: #272727;
}

.cart-box::-webkit-scrollbar-thumb {
    background-color: gray;
}

.cart-box p {
    display: none;
    text-align: center;
    color: gray;
    font-size: 14px;
    line-height: 25px;
}

.cart-box p::first-line {
    font-size: 18px;
}

.cart-box p button {
    margin-top: 15px;
    width: 120px; 
    height: 35px;
    background-color: transparent;
    color: #8257E5;
    font-size: 1rem;
    border: 1px solid #8257E5;
    cursor: pointer;
    transition: all .3s ease;
}

.cart-box p button:hover {
    background-color: #8257E5;
    color: #FFF;
}

.cart-box p button:active {
    color: #000;
}

.cart-box .prod-in-cart {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: #1F1F1F;
    border-radius: 6px;
    padding: 10px; 
    margin-bottom: 5px;
}

.prod-in-cart input[type='checkbox'] {
    margin-left: 5px;
    margin-right: 15px;
}

.prod-in-cart img {
    height: 100%;
    object-fit: contain;
    margin-right: 20px;
    border-radius: 4px;
}

.prod-in-cart .product-info {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    color: gray;
}

.product-info h3 {
    font-size: 1.2rem;
    color: #8257E5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 25px;
}

.product-info label {
    font-size: .8rem;
    opacity: .8;
    margin-right: 5px;
}

.product-info .size-box {
    position: relative;
}

.size-box select {
    width: 40px;
    color: #FFF;
    background-color: #1F1F1F;
    border-color: #8257E5;
    border-radius: 6px;
}

.product-info .amount-box {
    position: relative;
    display: flex;
    align-items: center;
    width: 145px;
}

.amount-box i {
    position: absolute;
    font-size: 1rem;
    border: 1px solid rgba(128, 128, 128, 0.077);
}

.amount-box i:nth-of-type(1) {
    left: 68px;
}

.amount-box i:nth-of-type(2) {
    right: 0;
}

.amount-box input {
    width: 25px;
    text-align: center;
    color: gray;
    background-color: #1F1F1F;
    border: none;
    margin-left: 20px;
}

.amount-box input::-webkit-outer-spin-button,
.amount-box input::-webkit-inner-spin-button {
    appearance: none;
}

@media screen and (max-width: 900px) {
    .carousel img {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 550px) {
    @keyframes sidebarOpen {
        0% {
            width: 0px;
        }
        
        100% {
            width: 100%;
            z-index: 1;
            opacity: 1;
        }
    }
    
    header nav.open {
        max-width: 100%;
    }
    
    @keyframes sidebarClose {
        0% {
            width: 100%;
            z-index: 1;
            opacity: 1;
        }
        
        100% {
            width: 0px;
            opacity: 0;
            z-index: 0;
            display: none;
            transform: translate(-30px);
        }
    }

    .sidebar ul {
        max-height: calc(100vh - 75px);
    }

    .carousel img {
        width: calc(100%);
    }

    main .products {
        margin: 5px -5px;
    }

    .products .card {
        width: 177px;
        height: 314px;
    }

    .card .image {
        height: 60%;
    }

    .card .name-price {
        height: 24%;
    }

    .card .buy-more {
        height: 15%;
    }

    .product-info h3 {
        width: 70%;
    }
}

@media screen and (max-width: 365px) {
    .products .card {
        width: 147px;
        height: 284px;
    }

    .product-info h3 {
        width: 60%;
    }
}

@media screen and (max-width: 325px) {
    .product-info h3 {
        width: 50%;
    }
}